/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Preset */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Playfair Display', serif;
  background: #F6F4EB;
  transition: all 2s;
}

a {
  text-decoration: none;
  color: #000000;
}

li {
  list-style: none;
}

/* Styling */
/* back to top */
.backtop {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.backtop i {
  font-size: 2rem;
  background: #FFFFFF;
  width: 4rem;
  height: 4rem;
  margin: 0.7rem;
  border: 1px solid #E2E8F0;
  border-radius: 5px;
  display: grid;
  place-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* loder */
#loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 99999;
  display: grid;
  place-items: center;
  background: #FFFFFF;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px dotted #7D7D7D;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* header */
.header {
  border-bottom: 1px solid #E2E8F0;
  width: 100%;
  position: fixed;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background: #FFFFFF;
}

.header .navbar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header .navbar .logo a {
  border-radius: 50%;
}

.header .navbar .logo a img {
  width: auto;
  height: 10rem;
}

.header .navbar .logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: left;
}

.header .navbar .logo-text .logo-text-main a {
  font-weight: bolder;
  cursor: pointer;
}

.header .navbar .logo-text .logo-text-main a h3 {
  font-size: 4rem;
}

.header .navbar .logo-text .logo-text-sub a {
  cursor: pointer;
}

.header .navbar .logo-text .logo-text-sub a p {
  font-size: 2.7rem;
}

.header .navbar .nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .navbar .nav-menu .nav-item {
  margin-left: 2rem;
}

.header .navbar .nav-menu .nav-item .nav-link {
  font-size: 1.7rem;
  font-weight: 400;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 0.7rem;
}

.header .navbar .nav-menu .nav-item .nav-link:hover {
  color: #5361FF;
}

.header .navbar .hamburger {
  display: none;
  cursor: pointer;
}

.header .navbar .hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

/* content */
.content {
  text-align: center;
}

.content .home {
  background: url('home.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.content .home .welcome {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  padding: 2rem;
  color: #FFFFFF;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.content .home .welcome h3 {
  font-size: 3rem;
}

.content .home .welcome .weltext {
  font-size: 1.7rem;
}

.content .home .welcome .weldwn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hide2 {
  display: none !important;
}

.hide {
  display: block !important;
}

.content .home .welcome .weldwn img {
  filter: invert(100%);
  opacity: 0.7;
}

.content .home .welcome .weldwn h6 {
  font-size: 1rem;
  opacity: 0.7;
}

.content .about {
  width: 100%;
}

.content .about .ah3 {
  font-size: 3rem;
}

.content .about .ap {
  font-size: 1.7rem;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 1rem;
  margin: 0 1rem 1rem 1rem;
  border-bottom: 2px double #5D5D5D;
}

.content .about .aboutbox {
  margin: 0.5rem;
  background: #FFFFFF;
  padding: 0.5rem;
  border: 2px solid #000000;
  border-radius: 7px;
}

.content .about .aboutbox img {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px, rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  margin: 1.2rem;
  border-radius: 5px;
  width: 90%;
  height: 50%;
}

.content .about .aboutbox .about-text {
  margin: 0rem 1.5rem;
  height: 50%;
  overflow: scroll;
}

.content .about .aboutbox .about-text .abp {
  border: none;
  font-size: 1.5rem;
  font-style: italic;
}

.content .hrline {
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
  margin: 0px 5px;
}

.content .legion {
  width: 100%;
  background: #FFFFFF;
}

.content .legion h3 {
  font-size: 3rem;
  padding: 1rem;
  margin: 0 1rem 1rem 1rem;
  border-bottom: 2px double #5D5D5D;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #E2E8F0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
  width: 100%;
}

footer div {
  background: #FFFFFF;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #B8B8B8;
}

footer div .foott {
  font-weight: bolder;
  font-size: 3rem;
}

footer div hr {
  outline: none;
  border: 2px solid #B8B8B8;
  width: 50%;
}

footer div p {
  font-size: 1.9rem;
}

footer div .mail {
  margin-top: 0.7rem;
}

footer div ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

footer div ul .link {
  margin-top: 0.3rem;
}

.link1 {
  padding-right: 1rem;
}

.linkall {
  font-size: 1.5rem;
  cursor: pointer;
  font-family: 'Roboto Mono', monospace;
}

footer h3 {
  background: #FFFFFF;
  width: 100%;
  font-size: 1.2rem;
  padding: 0.5rem;
}

/* Media query */
@media only screen and (max-width: 768px) {
  .header .navbar .logo a img {
    width: auto;
    height: 5rem;
  }

  .header .navbar .logo-text {
    text-align: center;
  }

  .header .navbar .logo-text .logo-text-main a h3 {
    font-size: 2rem;
  }

  .header .navbar .logo-text .logo-text-sub a p {
    font-size: 1.3rem;
  }

  .header .navbar .nav-menu {
    position: fixed;
    left: -100%;
    top: 7rem;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow:
      0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .header .navbar .nav-menu.active {
    left: 0;
  }

  .header .navbar .nav-menu .nav-item {
    margin: 2.5rem 0;
  }

  .header .navbar .hamburger {
    display: block;
    cursor: pointer;
  }

  .header .navbar .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .header .navbar .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .header .navbar .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }

  .content .home .welcome {
    display: block;
  }

  .weldwn {
    display: none;
  }

  footer div p strong br {
    display: none;
  }

  .hide,
  .hide .weldwn br {
    display: none !important;
  }

  .hide2 {
    display: block !important;
  }
}