/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Preset */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Playfair Display', serif;
  /* font-family: monospace; */
  background: #fbf8f7;
  transition: all 2s;
}

a {
  text-decoration: none;
  color: #000000;
}

li {
  list-style: none;
}

/* Styling */
/* back to top */
.backtop {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  z-index: 99999;
}

.backtop i {
  font-size: 2rem;
  background: #FFFFFF;
  width: 4rem;
  height: 4rem;
  margin: 0.7rem;
  border: 1px solid #E2E8F0;
  border-radius: 5px;
  display: grid;
  place-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* loder */
#loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 2147483647;
  display: grid;
  place-items: center;
  background: #FFFFFF;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px dotted #7D7D7D;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* header */
.header {
  border-bottom: 1px solid #E2E8F0;
  width: 100%;
  position: fixed;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 99999;
}

.header .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background: #FFFFFF;
}

.header .navbar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header .navbar .logo:hover {
  transform: scale(1.2);
}

.header .navbar .logo a {
  border-radius: 50%;
}

.header .navbar .logo a img {
  width: auto;
  height: 10rem;
}

.header .navbar .logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: left;
}

.header .navbar .logo-text .logo-text-main a {
  font-weight: bolder;
  cursor: pointer;
}

.header .navbar .logo-text .logo-text-main a h3 {
  font-size: 4rem;
}

.header .navbar .logo-text .logo-text-main a h3:hover {
  transform: scale(1.2);
}

.header .navbar .logo-text .logo-text-sub a {
  cursor: pointer;
}

.header .navbar .logo-text .logo-text-sub a p {
  font-size: 2.7rem;
}

.header .navbar .logo-text .logo-text-sub a p:hover {
  transform: scale(1.2);
}

.header .navbar .nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .navbar .nav-menu .nav-item {
  margin-left: 2rem;
}

.header .navbar .nav-menu .nav-item .nav-link {
  font-size: 2rem;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0.7rem;
  font-family: monospace;
  font-weight: bolder;
}

.header .navbar .nav-menu .nav-item .nav-link:hover {
  /* color: #ffd904; */
  opacity: 0.7;
}

.header .navbar .hamburger {
  display: none;
  cursor: pointer;
}

.header .navbar .hamburger:hover {
  transform: scale(1.5);
}

.header .navbar .hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

/* content */
.content {
  width: 100%;
}

.content .home {
  background: url('home.jpg');
  width: 100%;
  height: 100rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  --mask:
    radial-gradient(11.00px at 50% calc(100% - 11.00px), #000 99%, #0000 101%) calc(50% - 22px) 0/44px 100%,
    radial-gradient(11.00px at 50% calc(100% + 0.00px), #0000 99%, #000 101%) 50% calc(100% - 11px)/44px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.content .home .welcome {
  background: rgba(0, 0, 0, 0.7);
  /* background: linear-gradient(to bottom, transparent 0%, black 100%); */
  width: 100%;
  padding: 2rem 3rem 7rem 3rem;
  color: #FFFFFF;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.content .home .welcome h3 {
  font-size: 3rem;
}

.content .home .welcome .weltext {
  font-size: 1.7rem;
}

#justhv:hover {
  transform: scale(1.5);
}

.content .home .welcome .weldwn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content .home .welcome .weldwn:hover {
  transform: scale(1.5);
}

.hide2 {
  display: none !important;
}

.hide {
  display: block !important;
}

.content .home .welcome .weldwn img {
  filter: invert(100%);
  opacity: 0.7;
}

.content .home .welcome .weldwn h6 {
  font-size: 1rem;
  opacity: 0.7;
}

.content .about {
  height: auto;
  width: 100%;
}

.content .about .abt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 7rem 0rem 7rem;
}

.content .about .abt .ah3 {
  font-size: 4rem;
  font-weight: bolder;
  text-align: center;
}

.content .about .abt .ap {
  font-size: 2.4rem;
  font-style: italic;
  text-align: center;
  font-weight: 500;
}

.content .about .divider {
  margin: 0.7rem 4rem 1rem 4rem;
  outline: none;
  border: none;
  height: 0.5rem;
  border-radius: 2px;
  background: radial-gradient(circle at -8.9% 51.2%, rgb(255, 124, 0) 0%, rgb(255, 124, 0) 15.9%, rgb(255, 163, 77) 15.9%, rgb(255, 163, 77) 24.4%, rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);
}

.content .about .aboutbox {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}

.content .about .aboutbox .abtimg {
  width: 100%;
  height: auto;
}

.content .about .aboutbox .abtimg img {
  width: 100%;
  height: auto;
  border: 0.5rem solid #101010;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.content .about .aboutbox .about-text {
  width: 100%;
  height: 40.8rem;
  overflow-y: scroll;
  font-size: 1.9rem;
  text-align: justify;
  padding: 1.7rem 1rem 1.2rem 2.2rem;
  margin: 0.7rem;
  font-family: monospace;
  border-radius: 8px;
  border: 0.5rem solid #000000;
  background: #ffffff;
}

.content .about .aboutbox .about-text::-webkit-scrollbar {
  width: auto;
  background: transparent;
}

.content .about .aboutbox .about-text::-webkit-scrollbar-track {
  background-color: transparent;
}

.content .about .aboutbox .about-text::-webkit-scrollbar-thumb {
  background-color: #9e9e9e;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.content .about .dividerin {
  background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
  height: 3px;
  outline: none;
  border: none;
  margin: 0rem 7rem;
  border-radius: 2px;
}

.content .about .systm {
  width: 100%;
  height: auto;
}

.content .about .sytm .sytmtit {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  padding: 3rem;
}

.content .about .sytm .sytmlist {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.content .about .sytm .sytmlist .cell {
  width: 100%;
  height: auto;
  margin: 1rem 1rem 3rem 1rem;
  font-family: monospace;
}

.sytmlist img:hover {
  transform: scale(1.1);
}

.content .about .sytm .sytmlist .cell h2 {
  font-size: 3rem;
  text-align: center;
  margin-top: 1rem;
}

.content .about .sytm .sytmlist .cell h3 {
  font-size: 1.9rem;
  text-align: center;
  font-weight: 400;
}

.content .about .sytm .sytmlist .cell .off,
.content .about .sytm .sytmlist .cell .more {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 1.7rem;
  margin: 0% 10%;
}

.content .about .sytm .sytmlist .cell img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin: 0.5rem;
  border: 0.4rem solid #000000;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.content .secdivder {
  background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
  height: 3px;
  outline: none;
  border: none;
  margin-top: 1rem;
}

.content .legion {
  width: 100%;
  height: auto;
}

.content .legion .leghead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding: 2rem 7rem 0rem 7rem; */
  margin: 2rem 7rem 0rem 7rem;
}

.content .legion .leghead h3 {
  font-size: 4rem;
  font-weight: bolder;
  text-align: center;
}

.content .legion .leghead p {
  font-size: 2.4rem;
  font-style: italic;
  text-align: center;
  font-weight: 500;
}

.content .legion .divider {
  margin: 0.7rem 4rem 1rem 4rem;
  outline: none;
  border: none;
  height: 0.5rem;
  border-radius: 2px;
  background: radial-gradient(circle at -8.9% 51.2%, rgb(255, 124, 0) 0%, rgb(255, 124, 0) 15.9%, rgb(255, 163, 77) 15.9%, rgb(255, 163, 77) 24.4%, rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);
}

.content .legion .legcon {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.content .legion .legcon .legbox2 .legboxtit2 {
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
  list-style: none;
}

.content .legion .legcon .legbox2 .legboxin2 {
  margin-top: 1rem;
}

.content .legion .legcon .legbox2 .legboxin2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.content .legion .legcon .legbox2 .legboxin2 .legboximg2 {
  height: 35rem;
}

.content .legion .legcon .legbox2 .legboxin2 .legboxtext2 p {
  width: 100%;
  font-size: 1.9rem;
  text-align: justify;
  padding: 2rem;
  font-family: monospace;
}

.content .legion .legcon .legbox2 .legboxin2 .legboxtext2 .legdvd {
  background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
  height: 3px;
  outline: none;
  border: none;
  margin: 3rem 7rem;
  border-radius: 2px;
}

.content .legion .legcon .legdvd {
  background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
  height: 3px;
  outline: none;
  border: none;
  margin: 3rem 7rem;
  border-radius: 2px;
}

.content .legion .legcon .legbox .legboxtit {
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
  /* margin: 2rem; */
  /* list-style: square; */
}

.content .legion .legcon .legbox .legboxin {
  margin-top: 1rem;
}

.content .legion .legcon .legbox .legboxin {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  /* align-items: center; */
  width: 100%;
  height: auto;
  /* direction: rtl; */
}

/* .content .legion .legcon .legbox .legboxin .legboximg { */
/* width: 100%; */
/* height: auto; */
/* } */

/* .content .legion .legcon .legbox .legboxin .legboximg img { */
/* width: 100%; */
/* height: auto; */
/* border: 0.5rem solid #101010; */
/* border-radius: 8px; */
/* box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px; */
/* } */

.content .legion .legcon .legbox .legboxin .legboxtt .legboxtext {
  /* width: 100%; */
  height: 52rem;
  overflow-y: scroll;
  font-size: 1.9rem;
  text-align: justify;
  padding: 0rem 1rem 0rem 2rem;
  font-family: monospace;
  direction: ltr;
  transform: scaleX(-1);
}

.content .legion .legcon .legbox .legboxin .legboxtt .legboxtext p {
  transform: scaleX(-1);
}

.content .legion .legcon .legbox .legboxin .legboxtt .legboxtext::-webkit-scrollbar {
  width: auto;
  background: transparent;
}

.content .legion .legcon .legbox .legboxin .legboxtt .legboxtext::-webkit-scrollbar-thumb {
  background-color: #9e9e9e;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.content .legion .legcon .legbox .legboxin .legboxtt .forhr .legdvd2 {
  background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
  height: 3px;
  outline: none;
  border: none;
  margin: 3rem 7rem;
  border-radius: 2px;
}

.content .legion .legcon .lom {
  width: 100%;
}

.content .legion .legcon .lom .lomhead {
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
}

.content .legion .legcon .lom .lomcon {
  width: 80%;
  font-size: 1.9rem;
  text-align: justify;
  font-family: monospace;
  height: 65rem;
  overflow-x: hidden;
  margin: auto;
  padding: 0rem 1rem;
  margin-bottom: 2%;
  margin-top: 2%;
}

.content .legion .legcon .lom .lomcon::-webkit-scrollbar {
  width: auto;
  background: transparent;
}

.content .legion .legcon .lom .lomcon::-webkit-scrollbar-thumb {
  background-color: #9e9e9e;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.content .legion .legcon .lom .lomhr {
  background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
  height: 3px;
  outline: none;
  border: none;
  margin: 3rem 7rem;
  border-radius: 2px;
}

.content .legion .legcon .lom .lomhead2 {
  font-size: 2.7rem;
  margin-top: 4rem;
  font-weight: bold;
  text-align: center;
}

.content .legion .legcon .lom .lomcon2 {
  width: 80%;
  font-size: 1.9rem;
  text-align: justify;
  font-family: monospace;
  height: auto;
  overflow-x: hidden;
  margin: auto;
  padding: 0rem 1rem;
  margin-bottom: 2%;
  margin-top: 2%;
}

.content .legion .legcon .lom .lomhead3 {
  font-size: 2.7rem;
  /* margin-top: 4rem; */
  font-weight: bold;
  text-align: center;
}

.content .legion .legcon .lom .lomcon3 {
  width: 80%;
  font-size: 1.9rem;
  text-align: justify;
  font-family: monospace;
  height: auto;
  overflow-x: hidden;
  margin: auto;
  padding: 0rem 1rem;
  margin-bottom: 2%;
  margin-top: 2%;
}

.content .legion .legcon .lom .lomcon4 {
  width: 100%;
  font-size: 1.9rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: justify;
  /* font-family: monospace; */
  height: auto;
  margin: 2rem;
}

.content .legion .legcon .lom .lomcon4 .lomconin {
  width: 40rem;
  background: rgba(255, 255, 255, 0.7);
  padding: 2rem;
  border: 2px solid #ffffff;
  border-radius: 5px;
}

.content .legion .legcon .lom .lomcon4 .lomconin .headin {
  font-weight: bolder;
  text-align: center;
  margin: 2rem 0rem;
}

.content .legion .legcon .lom .lomcon4 .lomconin .conin {
  font-family: monospace;
}



/* Footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #E2E8F0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
  width: 100%;
}

footer div {
  background: #FFFFFF;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #B8B8B8;
}

footer div .foott {
  font-weight: bolder;
  font-size: 3rem;
}

footer div hr {
  outline: none;
  border: 2px solid #B8B8B8;
  width: 50%;
}

footer div p {
  font-size: 1.9rem;
}

footer div .mail {
  margin-top: 0.7rem;
}

footer div ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

footer div ul .link {
  margin-top: 0.3rem;
}

.link1 {
  padding-right: 1rem;
}

.linkall {
  font-size: 1.5rem;
  cursor: pointer;
  font-family: 'Roboto Mono', monospace;
}

footer h3 {
  background: #FFFFFF;
  width: 100%;
  font-size: 1.2rem;
  padding: 0.5rem;
}

/* Media query */
@media only screen and (max-width: 768px) {
  .header .navbar .logo a img {
    width: auto;
    height: 5rem;
  }

  .header .navbar .logo-text {
    text-align: center;
  }

  .header .navbar .logo-text .logo-text-main a h3 {
    font-size: 2rem;
  }

  .header .navbar .logo-text .logo-text-sub a p {
    font-size: 1.3rem;
  }

  .header .navbar .nav-menu {
    position: fixed;
    left: -100%;
    top: 7rem;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow:
      0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .header .navbar .nav-menu.active {
    left: 0;
  }

  .header .navbar .nav-menu .nav-item {
    margin: 2.5rem 0;
  }

  .header .navbar .hamburger {
    display: block;
    cursor: pointer;
  }

  .header .navbar .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .header .navbar .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .header .navbar .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }

  .content .home {
    height: 70rem;
  }

  .content .home .welcome {
    display: block;
    padding-bottom: 3rem;
  }

  .weldwn {
    display: none;
  }

  .content .about {
    height: auto;
    width: 100%;
  }

  .content .about .abt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* padding: 2rem 7rem 0rem 7rem; */
    width: 100%;
    height: auto;
  }

  .content .about .abt .ah3 {
    font-size: 4rem;
    font-weight: bolder;
    padding: 1rem;
    text-align: center;
  }

  .content .about .abt .ap {
    font-size: 2.4rem;
    font-style: italic;
    text-align: center;
    font-weight: 500;
    margin: 0rem;
    /* padding: 0rem 7rem 1rem 7rem; */
  }

  .content .about .aboutbox {
    height: auto;
    width: 100%;
    display: flex;
    padding: 1rem 2rem 3rem 2rem;
    flex-direction: column;
  }

  .content .about .aboutbox .abtimg {
    width: 100%;
    height: auto;
    padding: 0rem 0rem 2rem 0rem;
  }

  .content .about .aboutbox .about-text {
    width: 100%;
    height: 40rem;
    overflow-y: scroll;
    font-size: 1.9rem;
    text-align: justify;
    /* padding: 1rem 0rem 1rem 1rem; */
    font-family: monospace;
  }

  .content .about .sytm {
    padding: 1rem 2rem 0rem 2rem;
  }

  .content .about .sytm .sytmtit {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    padding: 0rem 4rem 0.5rem 4rem;
  }

  .content .about .sytm .sytmlist {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content .about .sytm .sytmlist .cell {
    width: 100%;
    height: auto;
    padding: 0rem 0rem 2rem 0rem;
    font-family: monospace;
    margin: 0rem;
  }

  .content .legion .leghead {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* padding: 2rem 7rem 0rem 7rem; */
    margin: 0rem;
  }

  .content .legion .leghead h3 {
    font-size: 3.4rem;
    font-weight: bolder;
    text-align: center;
    width: 100%;
    padding: 0.5rem 0rem;
    border-top: 5px double #0f0f0f0e;
  }

  .content .legion .legcon {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* padding: 3rem; */
  }

  .content .legion .legcon .legbox2 .legboxtit2 {
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    list-style: none;
    padding: 1rem 0rem;
  }

  .content .legion .legcon .legbox2 .legboxin2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .content .legion .legcon .legbox .legboxtit {
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    /* margin: 2rem; */
    /* list-style: square; */
  }

  .content .legion .legcon .legbox .legboxin {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
    width: 100%;
    height: auto;
    /* direction: rtl; */
  }

  /* .content .legion .legcon .legbox .legboxin { */
  /* margin-top: 1rem; */
  /* } */

  .content .legion .legcon .legbox .legboxin .legboximg img {
    width: 100%;
    /* height: auto; */
    /* border: 0.5rem solid #101010; */
    /* border-radius: 8px; */
    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px; */
  }

  .content .legion .legcon .lom .lomcon {
    width: 95%;
    font-size: 1.9rem;
    text-align: justify;
    font-family: monospace;
    height: 65rem;
    overflow: scroll;
    margin: auto;
    padding: 0rem 1rem;
    margin-bottom: 2%;
    margin-top: 5%;
  }

  .content .legion .legcon .lom .lomcon2 {
    font-size: 1.9rem;
    text-align: justify;
    font-family: monospace;
    height: auto;
    overflow-x: hidden;
    margin: auto;
    margin-bottom: 2%;
    margin-top: 2%;
    width: 95%;
  }

  .content .legion .legcon .lom .lomhead3 {
    font-size: 2.7rem;
    margin-top: 4rem;
    font-weight: bold;
    text-align: center;
  }

  .content .legion .legcon .lom .lomcon3 {
    width: 100%;
    font-size: 1.9rem;
    text-align: justify;
    font-family: monospace;
    height: auto;
    overflow-x: hidden;
    margin: auto;
    padding: 0rem 1rem;
    margin-bottom: 2%;
    margin-top: 2%;
  }

  .content .legion .legcon .lom .lomcon4 {
    width: 100%;
    font-size: 1.9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: justify;
    /* font-family: monospace; */
    height: auto;
    margin: 0px;
  }

  .content .legion .legcon .lom .lomcon4 .lomconin {
    width: 100%;
    background: none;
    padding: 2rem;
    border: none;
    border-radius: 0px;
  }

  .content .legion .legcon .lom .lomcon4 .lomconin .headin {
    font-weight: bolder;
    text-align: center;
    margin: 2rem 0rem;
  }

  .content .legion .legcon .lom .lomcon4 .lomconin .conin {
    font-family: monospace;
  }

  footer div p strong br {
    display: none;
  }

  .hide,
  .hide .weldwn br {
    display: none !important;
  }

  .hide2 {
    display: block !important;
  }
}